.my-masonry-grid {
    display: flex;
    margin-left: -20px;
    /* gutter size offset */
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 20px;
    /* gutter size */
    background-clip: padding-box;
}

.photo-item {
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.photo-item:hover {
    transform: scale(1.02);
    z-index: 10;
}